<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signup</h1>
                    <h6>Signup Here</h6>
                </div>
                <form>
                    <form [formGroup]="exform">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">First Name</label>
                            <input formControlName="firstname" type="text" class="form-control" id="exampleInputPassword1">
                            <small *ngIf="exform.get('firstname')?.invalid && exform.get('firstname')?.touched" class="text-danger">  First Name is required</small>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Last Name</label>
                            <input formControlName="name" type="text" class="form-control" id="exampleInputPassword1">
                            <small *ngIf="exform.get('lastname')?.invalid && exform.get('lastname')?.touched" class="text-danger"> Last Name is required</small>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Other Names</label>
                            <input formControlName="name" type="text" class="form-control" id="exampleInputPassword1">
                            <small *ngIf="exform.get('othername')?.invalid && exform.get('othername')?.touched" class="text-danger">  Other Name is optional</small>
                          </div>

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text"></div>
                          <small  *ngIf="exform.get('email')?.invalid && exform.get('email')?.touched" class="text-danger"> Email is required</small>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                            <input formControlName="phonenumber" type="number" class="form-control" id="exampleInputPassword1">
                            <small *ngIf="exform.get('phonenumber')?.invalid && exform.get('phonenumber')?.touched" class="text-danger"> phone number is required(minimum 12)</small>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <small  *ngIf="exform.get('password')?.invalid && exform.get('password')?.touched" class="text-danger"> strong password is required (minimum 7)</small>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label"> Confirm Password</label>
                          <input formControlName="confirmpassword" type="confirmpassword" class="form-control" id="exampleInputPassword1">
                          <small  *ngIf="exform.get('confirmpassword')?.invalid && exform.get('confirmpassword')?.touched" class="text-danger"> strong password is required (minimum 7)</small>
                        </div>
                        <button (click)="clicksub()" [disabled] = "exform.invalid" type="submit" class="btn btn-primary" mb-2>Signup</button>
                      </form>
                      <a style="color: #fff; margin-top:10px" routerLink='/login'>Already registered? Click to login</a>
                </form>
            </div>
        </div>
    </div>
</div>
